<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="app">
    <input type="text" v-model="msg">
    <input type="button" value="发表到留言板" @click="add_note">
    <ul>
        <li v-for="(i,index) in notebook" :key="index">
            <span>{{i}}<a href="#" @click="del_note(index)">删除</a></span>
        </li>
    </ul>
    <span>总数量：{{notebook.length}}条</span>
    <input type="button"value="清空留言" @click="del_all" v-show="notebook.length!=0">

</div>

<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            notebook: [],
            msg: "",
        },
        methods: {
            //添加留言
            add_note() {
                let msg=this.msg
                if (msg){
                    this.notebook.unshift(this.msg)
                }
                //发表后清空留言板
                this.msg=""
            },
            //删除留言
            del_note(index){
                this.notebook.splice(index,1)

            },
            //清空留言板
            del_all(){
                this.notebook=[]

            }

        },
    })
</script>

</body>
</html>